.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.example-is-mobile .example-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

h1.example-app-name {
  margin-left: 8px;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
.example-fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}
.docs-footer {
  // padding: 12px;
  font-size: 12px;
  margin-top: 40px;
  background: #3f51b5;
  color: #fff;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-logo {
  flex: 1;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  .angular-material-logo {
    height: 40px;
    margin: 10px 0 10px 16px;
  }
  .version {
    margin: 0 40px;
  }
}

.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  margin-top: 16px;

  > div {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    text-align: center;
  }

  @media (min-width: 885px) {
    margin-top: 0;
  }
}

.docs-footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;

  a {
    font-size: 16px;
    padding: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

@media screen and (max-width: 884px) {
  .docs-footer-list {
    flex-direction: column;
  }
}
.mat-toolbar-row,
.mat-toolbar-single-row {
  height: 40px;
}
